<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Formula 1</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
   
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand"> Portal Formula 1</a>

        <ul class="nav">
           
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/noticia">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/circuito">Circuitos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendario">Calendario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/equipo">Equipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Gestion de Usuarios</a>
            </li>
            
            
          </ul>
    </nav>

    

